In [45]:
import pickle
import pandas as pd
import tqdm

In [2]:
tissue_dict = pickle.load(open('../../staged-apa_data/tissue_dict.pickle', 'rb'))

tissues = ['full_blood', 'kidney', 'pancreas', 'monocytes', 'all', 'pdac', 'prcc', 'hlf']

In [3]:
for tissue in tissues:
    tissue_dict[tissue]['sites'] = tissue_dict[tissue]['PolyA Sites']

In [4]:
full_blood_df = tissue_dict['full_blood']
full_blood_df['tissue'] = 'full_blood'
kidney_df = tissue_dict['kidney']
kidney_df['tissue'] = 'kidney'
pancreas_df = tissue_dict['pancreas']
pancreas_df['tissue'] = 'pancreas'
monocytes_df = tissue_dict['monocytes']
monocytes_df['tissue'] = 'monocytes'
all_df = tissue_dict['all']
all_df['tissue'] = 'all'
pdac_df = tissue_dict['pdac']
pdac_df['tissue'] = 'pdac'
prcc_df = tissue_dict['prcc']
prcc_df['tissue'] = 'prcc'
hlf_df = tissue_dict['hlf']
hlf_df['tissue'] = 'hlf'

In [5]:
complete_df = pd.DataFrame()
complete_df = complete_df.append(full_blood_df)
complete_df = complete_df.append(kidney_df)
complete_df = complete_df.append(pancreas_df)
complete_df = complete_df.append(monocytes_df)
complete_df = complete_df.append(all_df)
complete_df = complete_df.append(pdac_df)
complete_df = complete_df.append(prcc_df)
complete_df = complete_df.append(hlf_df)

In [6]:
print(complete_df)

              Gene_Symbol PolyA Sites Sites In UTR3 Sites In Intron  \
0                    A1BG           1             1               0
1                A1BG-AS1           2             0               0
2                    AAAS           1             1               0
3                    AACS           1             1               0
4                   AAED1           2             1               0
5                   AAGAB           2             2               0
6                    AAK1           1             1               0
7                   AAMDC           1             1               0
8                    AAMP           1             1               0
9                    AAR2           1             1               0
10                   AARS           2             1               0
11                  AARS2           4             4               0
12  AARSD1,PTGES3L-AARSD1           1             1               0
13            AARS,EXOSC6           2             0               0
14                  AASDH           2             2               0
15               AASDHPPT           2             2               0
16                   AATF           1             1               0
17                   AATK           1             1               0
18                   ABAT           2             2               0
19                  ABCA1           2             2               0
20                ABCA11P           1             0               1
21                  ABCA2           1             1               0
22                  ABCA3           2             1               1
23                  ABCA5           2             2               0
24                  ABCA7           1             1               0
25                  ABCB1           1             1               0
26                 ABCB10           2             2               0
27                  ABCB6           1             1               0
28                  ABCB7           3             1               0
29                  ABCB8           5             2               3
..                    ...         ...           ...             ...
0               ZSCAN12P1           2             0               0
1                 ZSCAN16           1             1               0
2             ZSCAN16-AS1           3             3               0
3                 ZSCAN18           1             1               0
4                  ZSCAN2           3             3               0
5                 ZSCAN20           2             2               0
6                 ZSCAN21           1             1               0
7                 ZSCAN22           2             2               0
8                 ZSCAN25           3             3               0
9                 ZSCAN26           3             3               0
10                ZSCAN29           2             2               0
11                ZSCAN30           5             1               4
12                ZSCAN31           2             1               0
13                ZSCAN32           2             1               1
14                ZSCAN5A           2             1               0
15                 ZSCAN9           3             1               2
16                 ZSWIM1           1             1               0
17                 ZSWIM3           1             1               0
18                 ZSWIM6           3             2               1
19                 ZSWIM7           6             2               2
20                 ZSWIM8           1             1               0
21             ZSWIM8-AS1           1             1               0
22                  ZUFSP           1             1               0
23                   ZW10           2             2               0
24                 ZWILCH           5             3               1
25                  ZWINT           5             3               0
26                   ZXDA           1             1               0
27                   ZXDB           2             1               0
28                   ZXDC           8             3               5
29                 ZYG11A           2             1               1

   Sites In Exon Sites In UTR5 Sites In Extension Total_Reads_Gene sites  \
0              0             0                  0              145     1
1              0             0                  2               49     2
2              0             0                  0              245     1
3              0             0                  0               64     1
4              0             0                  1              110     2
5              0             0                  0              195     2
6              0             0                  0              215     1
7              0             0                  0               32     1
8              0             0                  0              721     1
9              0             0                  0              237     1
10             0             0                  1              187     2
11             0             0                  0               55     4
12             0             0                  0               74     1
13             0             0                  2               32     2
14             0             0                  0               39     2
15             0             0                  0              147     2
16             0             0                  0              365     1
17             0             0                  0              478     1
18             0             0                  0              172     2
19             0             0                  0               55     2
20             0             0                  0                5     1
21             0             0                  0              234     1
22             0             0                  0               23     2
23             0             0                  0               44     2
24             0             0                  0              578     1
25             0             0                  0               17     1
26             0             0                  0              104     2
27             0             0                  0               29     1
28             0             0                  2              100     3
29             0             0                  0              121     5
..           ...           ...                ...              ...   ...
0              0             1                  1               19     2
1              0             0                  0               62     1
2              0             0                  0              163     3
3              0             0                  0              585     1
4              0             0                  0               48     3
5              0             0                  0               24     2
6              0             0                  0               51     1
7              0             0                  0               71     2
8              0             0                  0               46     3
9              0             0                  0              105     3
10             0             0                  0              130     2
11             0             0                  0               85     5
12             0             0                  1               65     2
13             0             0                  0              156     2
14             0             0                  1               87     2
15             0             0                  0              111     3
16             0             0                  0              195     1
17             0             0                  0               54     1
18             0             0                  0              232     3
19             0             0                  2              649     6
20             0             0                  0              646     1
21             0             0                  0               26     1
22             0             0                  0              187     1
23             0             0                  0              315     2
24             0             0                  1               69     5
25             0             0                  2             1088     5
26             0             0                  0                6     1
27             0             0                  1              203     2
28             0             0                  0              289     8
29             0             0                  0               98     2

        tissue
0   full_blood
1   full_blood
2   full_blood
3   full_blood
4   full_blood
5   full_blood
6   full_blood
7   full_blood
8   full_blood
9   full_blood
10  full_blood
11  full_blood
12  full_blood
13  full_blood
14  full_blood
15  full_blood
16  full_blood
17  full_blood
18  full_blood
19  full_blood
20  full_blood
21  full_blood
22  full_blood
23  full_blood
24  full_blood
25  full_blood
26  full_blood
27  full_blood
28  full_blood
29  full_blood
..         ...
0          hlf
1          hlf
2          hlf
3          hlf
4          hlf
5          hlf
6          hlf
7          hlf
8          hlf
9          hlf
10         hlf
11         hlf
12         hlf
13         hlf
14         hlf
15         hlf
16         hlf
17         hlf
18         hlf
19         hlf
20         hlf
21         hlf
22         hlf
23         hlf
24         hlf
25         hlf
26         hlf
27         hlf
28         hlf
29         hlf

[73830 rows x 10 columns]

In [49]:
print((int(complete_df.pa_sites[2])))

1

In [32]:
complete_df['pa_sites'] = 0

In [40]:
complete_df.shape

(73830, 12)

In [54]:
complete_df.sites = complete_df.sites.astype('int64')

In [21]:
complete_df = complete_df.reset_index()

In [57]:
complete_df = complete_df.loc[lambda df: df.sites > 2, :]

In [65]:
print(complete_df)

       Gene_Symbol Sites In UTR3 Sites In Intron Sites In Exon Sites In UTR5  \
0            AARS2             4               0             0             0
1            ABCB7             1               0             0             0
2            ABCB8             2               3             0             0
3            ABCC3             3               2             0             0
4            ABCC5             3               0             0             0
5            ABCD2             2               0             0             0
6            ABCD3             2               1             0             0
7            ABCE1             5               0             0             0
8            ABCF1             3               0             3             0
9            ABCF2             4               0             0             0
10           ABCG1             2               0             0             0
11          ABHD10             3               0             0             0
12          ABHD13             6               0             0             0
13          ABHD15             2               0             0             0
14         ABHD17B             3               0             0             0
15           ABHD2             7               1             0             0
16           ABHD3             1               9             0             0
17           ABHD4             1               0             0             0
18           ABHD5            11               0             0             0
19            ABI1             9               0             0             0
20            ABI2             3               0             0             0
21            ABI3             3               0             0             0
22            ABL2             3               0             0             0
23          ABLIM1             4               0             0             0
24             ABR             1               2             0             0
25            ABT1             2               0             0             0
26           ACACA             2               1             0             0
27           ACAD8             2               2             0             0
28           ACAD9             2               0             0             0
29           ACADM             4               0             0             0
...            ...           ...             ...           ...           ...
15494        ZNF83             2              11             2             0
15495       ZNF830             4               0             0             0
15496       ZNF839             3               0             0             0
15497        ZNF84             2               3             0             0
15498       ZNF841             1               0             0             0
15499       ZNF845             2               0             0             0
15500       ZNF883             0               1             1             1
15501        ZNF90             1               2             0             0
15502        ZNF93             1               1             2             0
15503        ZNFX1             1               1             0             0
15504       ZNHIT3             3               0             0             0
15505       ZNHIT6             8               1             0             0
15506        ZNRF1             4               1             0             0
15507        ZNRF2             8               0             0             0
15508        ZNRF3             4               0             0             0
15509       ZRANB1             4               1             0             0
15510       ZRANB2             6               1             0             0
15511       ZRANB3             1               2             0             0
15512      ZSCAN12             3               1             0             0
15513  ZSCAN16-AS1             3               0             0             0
15514       ZSCAN2             3               0             0             0
15515      ZSCAN25             3               0             0             0
15516      ZSCAN26             3               0             0             0
15517      ZSCAN30             1               4             0             0
15518       ZSCAN9             1               2             0             0
15519       ZSWIM6             2               1             0             0
15520       ZSWIM7             2               2             0             0
15521       ZWILCH             3               1             0             0
15522        ZWINT             3               0             0             0
15523         ZXDC             3               5             0             0

      Sites In Extension Total_Reads_Gene  sites      tissue
0                      0               55      4  full_blood
1                      2              100      3  full_blood
2                      0              121      5  full_blood
3                      0              156      5  full_blood
4                      0              179      3  full_blood
5                      2               25      4  full_blood
6                      0              119      3  full_blood
7                      0              152      5  full_blood
8                      3              334      9  full_blood
9                      0              264      4  full_blood
10                     1              267      3  full_blood
11                     0              156      3  full_blood
12                     0              197      6  full_blood
13                     1              127      3  full_blood
14                     0              120      3  full_blood
15                     0             1513      8  full_blood
16                     0              608     10  full_blood
17                     3              444      4  full_blood
18                     0              708     11  full_blood
19                     0              879      9  full_blood
20                     0               86      3  full_blood
21                     2              749      5  full_blood
22                     0               45      3  full_blood
23                     0              403      4  full_blood
24                     0              784      3  full_blood
25                     1              517      3  full_blood
26                     0               47      3  full_blood
27                     0              146      4  full_blood
28                     1              154      3  full_blood
29                     0              137      4  full_blood
...                  ...              ...    ...         ...
15494                  0              997     15         hlf
15495                  0              244      4         hlf
15496                  0              157      3         hlf
15497                  0              201      5         hlf
15498                  2               43      3         hlf
15499                  2               96      4         hlf
15500                  0               40      3         hlf
15501                  0               40      3         hlf
15502                  0              113      4         hlf
15503                  1              590      3         hlf
15504                  0              831      3         hlf
15505                  0              458      9         hlf
15506                  0              375      5         hlf
15507                  1              277      9         hlf
15508                  0              345      4         hlf
15509                  1              368      6         hlf
15510                  0             1210      7         hlf
15511                  1               85      4         hlf
15512                  0               93      4         hlf
15513                  0              163      3         hlf
15514                  0               48      3         hlf
15515                  0               46      3         hlf
15516                  0              105      3         hlf
15517                  0               85      5         hlf
15518                  0              111      3         hlf
15519                  0              232      3         hlf
15520                  2              649      6         hlf
15521                  1               69      5         hlf
15522                  2             1088      5         hlf
15523                  0              289      8         hlf

[15524 rows x 9 columns]

In [59]:
complete_df = complete_df.reset_index()

In [64]:
complete_df = complete_df.drop(['index', 'level_0'], axis=1)

In [70]:
complete_df.to_csv('../../staged-apa_data/apadb_multisite_genes.csv', sep='\t')

In [73]:
complete_df.columns

Index([Gene_Symbol, Sites In UTR3, Sites In Intron, Sites In Exon,
       Sites In UTR5, Sites In Extension, Total_Reads_Gene, 'sites', 'tissue'],
      dtype='object')

In [75]:
for i in range(len(complete_df.columns)):
    name= complete_df.columns[i]
    complete_df.columns[i] = name.replace(' ', '_')

TypeError: Index does not support mutable operations

In [76]:
complete_df.columns[3]

'Sites In Exon'